/* src/components/About.css */
.about-section {
    background-color: #ffffff; /* Fondo blanco */
    padding: 80px 20px;
    text-align: center;
  }
  
  .about-section h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
  
  .about-section p {
    color: #555;
    font-size: 1.15em; /* Texto un poco más grande */
    line-height: 1.8;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }